.hyperspeed-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.hyperspeed-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: auto !important;
  cursor: pointer;
}
